<table id="asset-table" class="table is-fullwidth is-narrow is-striped">
    <thead>
        <tr>
            <th style="width: 105px">Inventoried</th>
            <th style="width: 104px">Asset Tag</th>
            <th>Dept</th>
            <th>Item</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Room</th>
            <th>Status</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>{% include 'asset-page.html' %}</tbody>
</table>
<label id="result-status" class="label has-text-light" hx-swap-oob="true">Matches: {{ assets.paginator.count }}</label>