{% for asset in assets %}
{% if forloop.last and assets.has_next %}
<tr hx-get="{% url 'asset-page' %}?page={{ assets.number|add:1 }}" hx-include="#search-form" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
{% else %}
<tr>
{% endif %}
    <td>{{ asset.inventoried | date:"Y-m-d" }}</td>
    <td>{{ asset.identifier }}</td>
    <td>{{ asset }}</td>
    <td>{{ asset.manufacturer }}</td>
    <td>{{ asset.model }}</td>
    <td>{{ asset.serial }}</td>
    <td>{{ asset.room }}</td>
    <td>{{ asset.get_status_display }}</td>
    <td class="has-text-centered">
        <a href="{% url 'asset' asset.id %}">
            <span class="icon is-small"><i class="fas fa-eye"></i></span>
        </a>
    </td>
</tr>
{% endfor %}
