{% extends "base.html" %}

{% block content %}
    <section class="section has-background-info-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <form method="get" action="">
                        <div class="field">
                            <label class="label has-text-light">Status</label>
                            <div class="control">
                                <div class="select">
                                    <select name="status">
                                        <option value="ALL">ALL</option>
                                        {% for k, v in statuses.items %}
                                        {% if v == status %}
                                        <option value={{ v }} selected>{{ k }}</option>
                                        {% else %}
                                        <option value={{ v }}>{{ k }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Search Text</label>
                            <div class="control is-expanded">
                                <input class="input" type="text" value="{{ search }}" name="search"
                                    placeholder="Enter text to search in Nickname for..." />
                            </div>
                        </div>
                        <div class="field mt-5">
                            <div class="control">
                                <button class="button is-danger">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column is-narrow">
                    <h1 class="title has-text-light">Asset List</h1>
                    
                    {% if asset_list %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Inventoried</th>
                                <th>Asset Tag</th>
                                <th>Item</th>
                                <th>Model</th>
                                <th>Room</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in asset_list %}
                            <tr>
                                <td>{{ asset.inventoried | date:"Y-m-d" }}</td>
                                <td>{{ asset.identifier }}</td>
                                <td>{{ asset }}</td>
                                <td>{{ asset.model }}</td>
                                <td>{{ asset.room }}</td>
                                <td class="has-text-centered">
                                    <a href="">
                                        <span class="icon is-small"><i class="fas fa-eye"></i></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class="title has-text-light">No assets matched your search query.</h1>
                    {% endif %}
                    
                    {% if page_obj.paginator.num_pages > 1 %}
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                {% if page_obj.has_previous %}
                                <a class="button is-rounded is-danger"
                                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}&status={{ status }}&search={{ search }}">Previous</a>
                                {% else %}
                                <a class="button is-rounded is-danger" disabled>Previous</a>
                                {% endif %}
                            </div>
                            <div class="level-item">
                                {% if page_obj.has_next %}
                                <a class="button is-rounded is-danger"
                                    href="{{ request.path }}?page={{ page_obj.next_page_number }}&status={{ status }}&search={{ search }}">Next</a>
                                {% else %}
                                <a class="button is-rounded is-danger" disabled>Next</a>
                                {% endif %}
                            </div>
                            <div class="level-item">
                                <p class="subtitle has-text-light">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </p>
                            </div>
                        </div>
                    </nav>
                    {% endif %}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
{% endblock %}