{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <section class="section has-background-info-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">

                    <div class="level mb-4">
                        <div class="level-left">
                            <div class="level-item">
                                <h1 class="title has-text-light mr-6">Asset List</h1>
                            </div>
                            <div class="level-item">
                                <form action="{% url 'assets' %}">
                                    <div class="field has-addons has-addons-centered">
                                        <div class="control">
                                            <div class="select">{% render_field form.status %}</div>
                                        </div>
                                        <div class="control">{% render_field form.search class="input" size="45" placeholder="Enter text to search in name and nickname..." %}</div>
                                        <div class="control"><button class="button is-danger">Filter</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    {% if assets %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Inventoried</th>
                                <th>Asset Tag</th>
                                <th>Item</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Serial Number</th>
                                <th>Room</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'assets-list.html' %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class="title has-text-light">No assets matched your search query.</h1>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}