{% load static %}

<!DOCTYPE html>
{% block html %}<html lang="en">{% endblock %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Middlebury STSS Database</title>{% endblock %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% block navbar %}
  <nav class="navbar has-background-light" role="navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'home' %}"><strong>Home</strong></a>
        <a class="navbar-item" href="{% url 'rooms' %}"><strong>Rooms</strong></a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>Assets</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'assets' %}">Browse</a>
            <a class="navbar-item" href="{% url 'asset-new' %}">New/Edit</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>Jobs</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'jobs' %}">Browse</a>
            <a class="navbar-item" href="{% url 'job-find' %}?next={{request.path}}">Get</a>
            <a class="navbar-item" href="{% url 'job-new' %}">New</a>
            <a class="navbar-item" href="{% url 'pmis' %}">Preventative Maintenance Items</a>
            <a class="navbar-item" href="{% url 'pmi-new' %}">New Preventative Maintenance Item</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>People</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'people' %}">Browse</a>
            <a class="navbar-item" href="{% url 'person-new' %}">New</a>
          </div>
        </div>

        <a class="navbar-item" href="{% url 'tags' %}"><strong>Tags</strong></a>
        <a class="navbar-item" href="{% url 'home' %}"><strong>Photos</strong></a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>Videos</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'home' %}" disabled>Browse</a>
            <a class="navbar-item" href="{% url 'home' %}">Add YouTube Video</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>Purchases</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'purchases' %}" disabled>Browse</a>
            <a class="navbar-item" href="{% url 'purchase-new' %}">New</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>Vendors</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'vendors' %}" disabled>Browse</a>
            <a class="navbar-item" href="">New</a>
          </div>
        </div>

      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{% url 'home' %}" title="upload pictures, documents, and videos"><strong>Upload</strong></a>

        {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"><strong>{{ user.get_username }}</strong></a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'home' %}">My Photos</a>
            <a class="navbar-item" href="{% url 'home' %}">My Documents</a>
            <a class="navbar-item" href="{% url 'home' %}">My Videos</a>
            <a class="navbar-item" href="{% url 'password_change'%}?next={{request.path}}">Change Password</a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button has-background-info-dark has-text-light" href="{% url 'logout'%}?next={{request.path}}"><strong>Log Out</strong></a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
          <div class="buttons">
            <a class="button has-background-info-dark has-text-light" href="{% url 'login'%}?next={{request.path}}"><strong>Log In</strong></a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>