{% if documents %}
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Contributor</th>
            <th>File</th>
            <th class="has-text-centered">Edit</th>
            <th class="has-text-centered">Unlink</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.contributor.first_name }}
                {{ document.contributor.last_name }}</td>
            <td><a href="{{ document.file.url }}">{{ document.filename }}</a></td>
            {% if user == document.contributor %}
            <td class="has-text-centered">
                <a href=""><span class="icon is-small"><i class="fas fa-edit"></i></span></a>
            </td>
            <td class="has-text-centered">
                <a href=""><span class="icon is-small"><i class="fas fa-unlink"></i></span></a>
            </td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}