
{% extends "base.html" %}
{% block navbar %}{% endblock %}

{% block content %}
<section class="hero is-fullheight has-background-dark">
<div class="hero-head py-5">
    <div class="container">
        <h1 class="title has-text-light">{{ job.identifier }} {{ job }}</h1>
        <h3 class="subtitle has-text-light">Select Technicans</h3>
        <div class="tags" hx-get="{% url 'technician-list' job.id %}" hx-trigger="load"></div>
        <a href="{{ job.detail }}" class="button is-link">Done</a>
    </div>
</div>
</section>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}