<table id="job-table" class="table is-fullwidth is-narrow is-striped">
    <thead>
        <tr>
            <th style="width: 75px">ID</th>
            <th style="width: 105px">Technician</th>
            <th>Name</th>
            <th style="width: 120px">Type</th>
            <th style="width: 270px">Category</th>
            <th style="width: 105px">Customer</th>
            <th style="width: 105px">Closed</th>
            <th style="width: 95px">Status</th>
            <th style="width: 15px">View</th>
        </tr>
    </thead>
    <tbody>{% include 'job-page.html' %}</tbody>
</table>
<label id="result-status" class="label has-text-light" hx-swap-oob="true">Matches: {{ jobs.paginator.count }}</label>