<div class="tabs is-toggle" id="tabs" hx-target="#tab-contents"
                _="on click remove .is-active from <li/> then add .has-background-light to <li/>
                on htmx:afterOnLoad add .is-active to closest <li/> to event.target then remove .has-background-light from closest <li/> to event.target">
                <ul>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-details' job.id %}">
                            <span class="icon is-small"><i class="fas fa-sticky-note"></i></span>
                            <span>Details</span>
                        </a>
                    </li>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-assets' job.id %}">
                            <span class="icon is-small"><i class="fas fa-sticky-note"></i></span>
                            <span>Assets</span>
                        </a>
                    </li>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-notes' job.id %}">
                            <span class="icon is-small"><i class="fas fa-sticky-note"></i></span>
                            <span>Notes</span>
                        </a>
                    </li>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-works' job.id %}">
                            <span class="icon is-small"><i class="fas fa-sticky-note"></i></span>
                            <span>Hours</span>
                        </a>
                    </li>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-files' job.id %}" hx-trigger="click, fileChanged from:body">
                            <span class="icon is-small"><i class="fas fa-image"></i></span>
                            <span>Files</span>
                        </a>
                    </li>
                    <li class="has-background-light">
                        <a hx-get="{% url 'job-gallery' job.id %}" hx-trigger="click, galleryChanged from:body">
                            <span class="icon is-small"><i class="fas fa-image"></i></span>
                            <span>Gallery</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="tab-contents" class="content"></div>