
{% extends "base.html" %}

{% block content %}
    <section class="section has-background-info-dark">
        <h1 class="title has-text-light has-text-centered">My Files</h1>
        <div class="columns"><div class="column is-5">
            <input class="input" type="text" placeholder="Search..." _="on keyup show <tr/> in #filelist when its textContent.toLowerCase() contains my value" />
        </div></div>
        <table id="file-table" class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Filename</th>
                    <th class="has-text-centered">Details</th>
                </tr>
            </thead>
            <tbody id="filelist">
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td><a href="{{ file.content.url }}">{{ file.filename }}</a></td>
                    <td class="has-text-centered">
                        <a href="{% url 'file' file.id %}">
                            <span class="icon is-small"><i class="fas fa-eye"></i></span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
{% endblock %}