
{% extends "base.html" %}
{% block navbar %}{% endblock %}

{% block content %}
<section class="hero is-fullheight has-background-dark">
<div class="hero-head py-5">
    <div class="container">

        <div class="level mb-4">
            <div class="level-left">
                <div class="level-item">
                    <div id="search-form" class="field has-addons has-addons-centered" hx-target="#people-tags" hx-include="this">
                        <div class="control">
                            <div class="select">
                                <select name="method" hx-get="{% url 'people-tags' linkable.modeltype linkable.id %}">
                                    <option value="1" selected>Last Name Starts With</option>
                                    <option value="2">First Name Starts With</option>
                                </select>
                            </div>
                        </div>
                        <div class="control">
                            <input hx-get="{% url 'people-tags' linkable.modeltype linkable.id %}" hx-trigger="keyup changed delay:500ms"
                                type="text" name="search" maxlength="128" placeholder="Search name..."
                                size="45" class="input" id="id_search">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="people-tags" class="tags" hx-get="{% url 'people-tags' linkable.modeltype linkable.id %}" hx-trigger="load"></div>
        <a href="{{ linkable.detail }}" class="button is-link">Done</a>
        
    </div>
</div>
</section>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}