{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-fullheight-with-navbar has-background-info">
  <div class="hero-head">
    <div class="container mt-6">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <table class="table is-striped is-fullwidth">
            <tbody>
              <tr>
                <th>First Name</th>
                <td><strong>{{ person.first }}</strong></td>
                <td></td>
              </tr>
              <tr>
                <th>Last Name</th>
                <td><strong>{{ person.last }}</strong></td>
                <td></td>
              </tr>
              <tr>
                <th>Phone</th>
                <td hx-trigger="personPhoneChanged from:body" hx-get="{% url 'person-phone' person.id %}"
                  hx-target="this">
                  <strong>{{ person.phone }}</strong>
                </td>
                <td><a hx-get="{% url 'person-edit-phone' person.id %}" hx-target="#dialog">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                  </a>
                </td>
              </tr>
              <tr>
                <th>Email</th>
                <td hx-trigger="emailChanged from:body" hx-get="{% url 'person-email' person.id %}" hx-target="this">
                  <strong>{{ person.email }}</strong>
                </td>
                <td><a hx-get="{% url 'person-edit-email' person.id %}" hx-target="#dialog">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                  </a>
                </td>
              </tr>
              <tr>
                <th>Office</th>
                <td>
                  <strong>{{ person.office }}</strong>
                </td>
                <td><a href="{% url 'edit-room' 'person' person.id %}"><span class="icon is-small"><i
                        class="fas fa-edit"></i></span></a></td>
              </tr>
              <tr>
                <th>Departments</th>
                <td hx-trigger="departmentsChanged from:body" hx-get="{% url 'person-departments' person.id %}"
                  hx-target="this">
                  <div class="tags">
                    {% for dept in person.departments.all %}
                    <a href="" class="tag is-link is-medium">{{ dept }}</a>
                    {% endfor %}
                  </div>
                </td>
                <td>
                  <a hx-get="{% url 'person-edit-department' person.id %}" hx-target="#dialog">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                  </a>
                </td>
              </tr>

              <tr>
                <th>Status</th>
                <td hx-trigger="statusChanged from:body" hx-get="{% url 'person-status' person.id %}" hx-target="this">
                  <strong>{{ person.get_status_display }}</strong>
                </td>
                <td>
                  <a hx-get="{% url 'person-edit-status' person.id %}" hx-target="#dialog">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    
    <div class="container my-4">
      <div class="tabs is-toggle is-fullwidth" id="tabs" hx-target="#tab-contents" 
      _="on click remove .is-active from <li/> then add .has-background-light to <li/> 
      on htmx:afterOnLoad add .is-active to closest <li/> to event.target then remove .has-background-light from closest <li/> to event.target">
        <ul>
          <li class="has-background-light">
            <a hx-get="{% url 'person-assets' person.id %}">
              <span class="icon is-small"><i class="fas fa-sticky-note"></i></span>
              <span>Assets</span>
            </a>
          </li>
          <li class="has-background-light">
            <a hx-get="{% url 'person-jobs' person.id 0 %}">
              <span class="icon is-small"><i class="fas fa-image"></i></span>
              <span>Jobs as Customer</span>
            </a>
          </li>
          <li class="has-background-light">
            <a hx-get="{% url 'person-tasks' person.id 0 %}">
              <span class="icon is-small"><i class="far fa-file-alt"></i></span>
              <span>Jobs as Technician</span>
            </a>
          </li>
        </ul>
      </div>
      <div id="tab-contents" class="content"></div>
    </div>

  </div>
</section>

<div class="modal" _="on htmx:afterSwap add .is-active to me">
  <div class="modal-background" _="on click remove .is-active from closest .modal"></div>
  <div class="modal-content" _="on htmx:beforeSwap(xhr) if xhr.status is 204 remove .is-active from closest .modal">
      <div class="box has-background-link-dark">
          <div id="dialog" hx-target="this"></div>
      </div>
  </div>
  <button class="modal-close is-large" _="on click remove .is-active from closest .modal"></button>
</div>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
{% endblock %}