
{% load widget_tweaks %}

<form hx-post="{{ request.path }}">
    {% csrf_token %}

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label has-text-link-light">Username</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control"><input type="text" name="username" maxlength="117" class="input" placeholder="Enter middlebury username..." id="id_username"></div>
            </div>
        </div>
    </div>
<div class="field has-text-centered">
    <label class="label has-text-link-light">OR</label>
</div>
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label has-text-link-light">Email</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">{% render_field form.email class="input" placeholder="Enter full email address..." %}</div>
            </div>
        </div>
    </div>
<div class="field has-text-centered">
    <div class="control">
        <button class="button is-danger mt-4">Update</button>
    </div>
</div>

</form>