<div class="column has-text-centered has-text-light">
    <p class="has-text-light">contributed by<br>{{ picture.contributor.first }} {{ picture.contributor.last }}</p>
    <p class="has-text-light">contributed on<br>{{ picture.created|date:"m-d-Y" }}</p>
    <div><a class="has-text-light" href="{{ picture.picture.url }}">View Fullscreen</a></div>
    <div><a class="has-text-light" href="{{ picture.picture.url }}" download>Download</a></div>
    <div><a class="has-text-light" hx-get="{% url 'picture-remove' picture.id linkable.modeltype linkable.id %}">Unlink</a></div>
</div>
<div class="column is-narrow has-text-centered">
    <img src="{{ picture.picture.url }}" alt="picture" style="max-height:95vh;">
</div>
<div class="column"></div>


