{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="hero is-fullheight-with-navbar has-background-info">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-narrow">
                {% include 'pmi.pane.left.html' %}
            </div>
            <div class="column">
                {% include 'pmi.pane.right.html' %}
            </div>
        </div>
    </div>
</section>

<div id="modal" class="modal" _="on htmx:afterSwap add .is-active to me">
    <div class="modal-background" _="on click remove .is-active from closest .modal"></div>
    <div class="modal-content" _="on htmx:beforeSwap(xhr) if xhr.status is 204 remove .is-active from closest .modal">
        <div class="box has-background-link-dark">
            <div id="dialog" hx-target="this"></div>
        </div>
    </div>
    <button class="modal-close is-large" _="on click remove .is-active from closest .modal"></button>
</div>

<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
{% endblock %}