{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <section class="section has-background-info-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">
                    <h1 class="title has-text-light mr-6">Purchase List</h1>
                    <div class="level mb-4">
                        <div class="level-left">
                            <div class="level-item">
                                <form action="{% url 'purchases' %}">
                                    <div class="field has-addons has-addons-centered">
                                        <div class="control">
                                            <div class="select">{% render_field form.method %}</div>
                                        </div>
                                        <div class="control">{% render_field form.search class="input" size="45" placeholder="Enter text to search in vendor and reference..." %}</div>
                                        <div class="control"><button class="button is-danger">Filter</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    {% if purchases %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vendor</th>
                                <th>Method</th>
                                <th>Internal Reference</th>
                                <th>Vendor Reference</th>
                                <th>Funding Source</th>
                                <th>Edorda</th>
                                <th>Total</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% include 'purchases-list.html' %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class="title has-text-light">No purchases matched your search query.</h1>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}