{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="hero is-fullheight-with-navbar has-background-info">
    <div class="hero-head">
        <div class="container mt-6 pb-6">

            <div class="columns is-vcentered">
                <div class="column is-6">
                    <table class="table is-striped is-fullwidth">
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <td><strong>{{ purchase.date }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Purchaser</th>
                                <td><strong>{{ purchase.purchaser }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Vendor</th>
                                <td><strong>{{ purchase.vendor }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Method</th>
                                <td><strong>{{ purchase.get_method_display }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Internal Reference</th>
                                <td><strong>{{ purchase.reference }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Vendor Reference</th>
                                <td><strong>{{ purchase.vreference }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Funding Source</th>
                                <td><strong>{{ purchase.get_funding_display }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Edorda</th>
                                <td><strong>{{ purchase.edorda }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td><strong>{{ purchase.shipping }}</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td><strong>{{ purchase.total }}</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div>
                <a href="{% url 'purchase-add-asset' purchase.id %}" class="button is-link mr-4">Add Asset</a>
                <a href="{% url 'upload-to' 'purchase' purchase.id %}" class="button is-link mr-4">Add Files</a>
                <a href="{% url 'purchase-update-total' purchase.id %}" class="button is-link mr-4">Update Total</a>
                <a href="{% url 'purchase-edit' purchase.id %}" class="button is-link mr-4">Edit Purchase</a>
            </div>

            <div id="files" class="mt-4" hx-get="{% url 'purchase-files' purchase.id %}" hx-trigger="load, fileChanged from:body"></div>

            <div id="assets" class="mt-4" hx-get="{% url 'purchase-assets' purchase.id %}" hx-trigger="assetsChanged from:body">
                {% include "purchase-assets.html" %}
            </div>

        </div>
    </div>
</section>

<div id="modal" class="modal" _="on htmx:afterSwap add .is-active to me">
    <div class="modal-background" _="on click remove .is-active from closest .modal"></div>
    <div class="modal-content" _="on htmx:beforeSwap(xhr) if xhr.status is 204 remove .is-active from closest .modal">
        <div class="box has-background-link-dark">
            <div id="dialog" hx-target="this"></div>
        </div>
    </div>
    <button class="modal-close is-large" _="on click remove .is-active from closest .modal"></button>
</div>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
{% endblock %}