{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <section class="section has-background-info-dark">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">
                    <h1 class="title has-text-light mr-6">Purchase List</h1>

                      <form id="search-form"  action="{% url 'purchases' %}">
                      <div class="level mb-4">
                        <div class="level-left" hx-target="#purchase-list" hx-include="this">
                            <div class="level-item"><label class="label has-text-light">Sort By</label></div>
                            <div class="level-item">
                                <div class="field"><div class="control"><div class="select" hx-get="{% url 'purchases-list' %}" hx-trigger="change">{% render_field form.sortby %}</div></div></div>
                            </div>
                            <div class="level-item"><label class="label has-text-light">Method</label></div>
                            <div class="level-item">
                                <div class="field"><div class="control"><div class="select" hx-get="{% url 'purchases-list' %}" hx-trigger="change">{% render_field form.method %}</div></div></div>
                            </div>
                            <div class="level-item"><label class="label has-text-light">Search</label></div>
                            <div class="level-item">
                                    <div class="field has-addons has-addons-centered">
                                        <div class="control"><div class="select">{% render_field form.searchin %}</div></div>
                                        <div class="control">{% render_field form.search class="input" size="45" placeholder="Enter search text..." %}</div>
                                        <div class="control"><button class="button is-danger">Search</button></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    </form>
                    
                    {% if purchases %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Vendor</th>
                                <th>Method</th>
                                <th>Internal Reference</th>
                                <th>Vendor Reference</th>
                                <th>Funding Source</th>
                                <th>Edorda</th>
                                <th>Total</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody id="purchase-list">
                            {% include 'purchases-list.html' %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class="title has-text-light">No purchases matched your search query.</h1>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
{% endblock %}