{% for document in purchase.documents.all %}
<tr>
  <td>{{ document.name }}</td>
  <td>{{ document.contributor.first_name }}
    {{ document.contributor.last_name }}</td>
  <td><a href="{{ document.file.url }}">{{ document.filename }}</a></td>
  {% if user == document.contributor %}
  <td class="has-text-centered">
    <a hx-get="{% url 'document-edit-name' document.id %}" hx-target="#dialog"><span class="icon is-small"><i class="fas fa-edit"></i></span></a>
  </td>
  <td class="has-text-centered">
    <a hx-get="{% url 'document-remove' document.id 'purchase' purchase.id %}"><span class="icon is-small"><i class="fas fa-unlink"></i></span></a>
  </td>
  {% else %}
  <td></td>
  <td></td>
  {% endif %}
</tr>
{% endfor %}