
{% for purchase in purchases %}
{% if forloop.last %}
<tr hx-get="{% url 'purchase-page' %}?page={{ purchases.number|add:1 }}" hx-include="#search-form" hx-trigger="revealed" hx-swap="afterend" hx-target="this">
{% else %}
<tr>
{% endif %}
    <td>{{ purchase.date | date:"Y-m-d" }}</td>
    <td>{{ purchase.vendor }}</td>
    <td>{{ purchase.get_method_display }}</td>
    <td>{{ purchase.reference }}</td>
    <td>{{ purchase.vreference }}</td>
    <td>{{ purchase.get_funding_display }}</td>
    <td>{{ purchase.edorda }}</td>
    <td>{{ purchase.total }}</td>
    <td class="has-text-centered">
        <a href="{% url 'purchase' purchase.id %}">
            <span class="icon is-small"><i class="fas fa-eye"></i></span>
        </a>
    </td>
</tr>
{% endfor %}
