
{% extends "baseform.html" %}
{% load widget_tweaks %}

{% block title %}
<title>Edit Purchase</title>
{% endblock %}

{% block heading %}
<h1 class="title">Edit Purchase</h1>
{% endblock %}

{% block content %}
<div class="field">
    <label class="label">Date</label>
    <div class="control">{% render_field form.date class="input" %}</div>
</div>
<div class="field">
    <label class="label">Purchaser</label>
    <div class="control">
        <div class="select">{% render_field form.purchaser class="select" %}</div>
    </div>
</div>
<div class="field">
    <label class="label">Vendor</label>
    <div class="control">
        <div class="select">{% render_field form.vendor class="select" %}</div>
    </div>
</div>
<div class="field">
    <label class="label">Method</label>
    <div class="control">
        <div class="select">{% render_field form.method class="select" %}</div>
    </div>
</div>
<div class="field">
    <label class="label">Internal Reference</label>
    <div class="control">{% render_field form.reference class="input" %}</div>
</div>
<div class="field">
    <label class="label">Vendor Reference</label>
    <div class="control">{% render_field form.vreference class="input" %}</div>
</div>
<div class="field">
    <label class="label">Funding Source</label>
    <div class="control">
        <div class="select">{% render_field form.funding class="select" %}</div>
    </div>
</div>
<div class="field">
    <label class="label">Edorda</label>
    <div class="control">{% render_field form.edorda class="input" %}</div>
</div>
<div class="field">
    <label class="label">Shipping</label>
    <div class="control">{% render_field form.shipping class="input" %}</div>
</div>
<div class="field">
    <label class="label">Total</label>
    <div class="control">{% render_field form.total class="input" %}</div>
</div>
<div class="control">
    <button class="button is-danger">Update</button>
    <a href="{% url 'purchase' purchase.id %}" class="button is-link">Cancel</a>
</div>
{% endblock %}