<div class="columns is-multiline">
    {% for video in videos %}
    <div class="column is-one-quarter">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                    {% if video.thumbnail %}
                    <img src="{{ video.thumbnail.url }}" alt="picture">
                    {% endif %}
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    {{ video.name }}
                </div>
            </div>
            <footer class="card-footer">
                <a href="{{ video.file.url }}" class="card-footer-item">View</a>
                <a href="" class="card-footer-item">Details</a>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>